<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Birthday! Marilyn</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Happy Birthday, Marilyn!</h1>
        </header>
        <section class="message">
            <h2>hi </h2>
               <h2>hi </h2>
               <h2>hi </h2>
               <h2>hi </h2>
            <h1>Happy Birthday, Marilyn!</h1>
            <h2>A Special Message for You! From your beloved Mich!</h2>
            <p>
                Dear Princess,<br><br>

                It feels like just yesterday when we embarked on this incredible journey together, yet the depth of our experiences and the richness of our love have woven a tapestry of memories that make our bond stronger with each passing day.<br>
                I am looking ahead, I am filled with anticipation for the chapters yet to be written. I eagerly await the adventures, the lessons, and the simple joys that life will unfold for us. Each day with you is an opportunity to continue building a future brimming with love, understanding, and shared dreams. 🌈💕<br>
                You are a supporter, a bestfriend, a mother and a girlfriend! So I guess iI already can say MY WIFE!<br>
                So here's to us, my love, to the beautiful tapestry we've woven together and to the countless threads of love that bind us.<br>
                Happy Birthday, and may the coming years be as magical and profound as the ones we've shared so far.<br>

                Your Beloved
            </p>
        </section>

        <section class="memories">
            <h2>Never Forget!</h2>
            <ul>
                <li data-img="{{ url_for('static', filename='images/memory1.jpg') }}">Together we will move mountains.</li>
                <li data-img="{{ url_for('static', filename='images/memory2.jpg') }}">I am a friend, bestfriend, boyfriend and a father, you choose!</li>
                <li data-img="{{ url_for('static', filename='images/memory3.jpg') }}">Til death do us part.</li>
                <li data-img="{{ url_for('static', filename='images/memory4.jpg') }}">I want to see you grow old!</li>
            </ul>
            <h2>Click on the options above to reveal other captures!</h2>
        </section>

        <section class="memory-image">
            <img id="memoryImage" src="{{ url_for('static', filename='images/default.jpg') }}" alt="Memory Image" />
        </section>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
