<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Birthday! Marilyn</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Happy Birthday, Marilyn!</h1>
        </header>
        <section class="message">
            <h2> </h2>
            <h1>Happy Birthday, Marilyn!</h1>
            <h2>A Special Message for You! From your beloved Mich!</h2>
            <p>
                Dear Princess,<br><br>
                Today is the day we celebrate how amazing you are! From the way you light up a room to how you always know how to make everyone around you smile, you make the world a better place just by being in it. I feel so lucky to have you in my life, and I can't wait to make many more memories together. Here's to many more birthdays and incredible moments!<br><br>
                With all my love, <br>
                Your Beloved
            </p>
        </section>

        <section class="memories">
            <h2>Never Forget!</h2>
            <ul>
                <li data-img="{{ url_for('static', filename='images/memory1.jpg') }}">Together we will move mountains.</li>
                <li data-img="{{ url_for('static', filename='images/memory2.jpg') }}">I am a friend, bestfriend, boyfriend and a father, you choose!</li>
                <li data-img="{{ url_for('static', filename='images/memory3.jpg') }}">Til death do us part.</li>
                <li data-img="{{ url_for('static', filename='images/memory4.jpg') }}">I want to see you grow old!</li>
            </ul>
            <h2>Click on the option to reveal other captures!</h2>
        </section>

        <section class="memory-image">
            <img id="memoryImage" src="{{ url_for('static', filename='images/default.jpg') }}" alt="Memory Image" />
        </section>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
